article{
    font-family: sans-serif;
    font-size:1.1em;
    background-color: #FCF7F8;
    padding: 2%;
  }
  
  #sidebar{
    background-color:rgb(46, 36, 38);
    font-family: sans-serif;
    font-size: 1.1em;
    color: #FCF7F8;
    padding-left: 2%;
    width: 10%;
    height: max-content;
  }

  a:link{
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }

  a:visited{
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }

  header {
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(39, 36, 39);
    color: #FCF7F8;
  }
  
  footer {
    font-family: sans-serif;
    background-color: rgb(39, 36, 39);
    text-align: center;
    color: #FCF7F8;
    padding-bottom: 2%;
    padding-top: 2%;
  
  }
  

  #contactText{
    padding-bottom: 1%;
  }
  
  #linkedin{
    padding: 1%;
  }

  #facebook{
    padding: 1%;
  }

  #gmail{
    padding: 1%;

  }
  #body{
    display: flex;
    flex-direction: column;
  }
  

  #menulist{
    list-style-position: outside;
    padding-left: 1%;
  }

  #headerDiv{
      padding-top: 2%;
      padding-bottom: 2%;
  }


  #image{
      border-radius: 50%;
      border-color: rgb(184, 19, 19);
      border-width: 3px;
      border-style: solid;
  }